{% extends 'base.html.twig' %}

{% block title %}Porównanie kursów walut {% endblock %}

{% block body %}
    <section class="container">
        <div class="w-25 me-auto ms-auto text-center mt-5 date-box">
            <form action="{{path('currency_fetch')}}" method="get">
                <label class="mb-3" for="date">Wprowadź interesującą Ciebie datę</label><input class="form-control" type="text" id="date" placeholder="YYYY-MM-DD" name="date" />
                <button type="submit" class="btn btn-primary mt-3" id="show_table">Pokaż kursy walut</button>
            </form>
        </div>
    </section>
    {% for message in app.flashes('notice') %}
        <div class="alert alert-danger text-center mt-3" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}
